<mat-card>
    <div class="card-img-wrapper">
    <img src="{{ member.photoUrl}}" alt="{{ member.knownAs }}">
    <ul class="member-icons">
        <li><button mat-icon-button color="primary"><mat-icon>person</mat-icon></button></li>
        <li><button mat-icon-button color="primary"><mat-icon>favorite</mat-icon></button></li>
        <li><button mat-icon-button color="primary"><mat-icon>mail</mat-icon></button></li>
    </ul>
    </div>
    <mat-card-header style="display:flex; justify-content:center;">
        <mat-card-title>{{ member.knownAs }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p style="text-align:center">{{ member.city }}</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card-footer>
</mat-card>
